.project .content {
    @media (max-width:768px) {
        font-size: none;
        flex-direction: inherit;
    }    
}
.project_content{
    width: 25%;
    position: relative;
    font-size: 0;
    @media (max-width:768px) {
        width: 50%;
    }
    &__img img{
        width: 100%;
        position: relative;
    }
    &__text{    
        @include flex-center;
        transition: 0.3s;    
        width: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        border: 2px solid $white;
        background: rgba(255, 67, 67, 0.8);
        flex-direction: column;
        &:hover{
            opacity: 1;
        }
        &:active{
            opacity: 1;
            background: rgba(185, 12, 12, 0.8);
        }
    }    
    &__title{
        margin-bottom: 20.57px;
        padding: 16px 0;
        @media (max-width:1024px) {
            margin-bottom: 13px;
            padding: 10px 0;
        }
        @media (max-width:768px) {
            margin-bottom: 5px;
            padding: 2px 0;
        }
        & a{
            font-weight: 900;
            text-transform: uppercase;
            color: $white;
        }
    }
    &__subtitle{
        color: $white;
    }
}

